AddHandler x-httpd-php .php
# BEGIN WordPress

# END WordPress

AddDefaultCharset utf-8
AddCharset utf-8 *
<IfModule mod_charset.c>
CharsetSourceEnc utf-8
CharsetDefault utf-8
</IfModule>

<Files ~ "^.*\.([Ll][Oo][Gg]|[bB][aA][kK])">
 Order allow,deny
 Deny from all
 Satisfy All
</Files>
